<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href= <%=root_path %> class="navbar-brand" >NouveauNerd</a>
    </div>
     
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><%= link_to 'Resume', resume_path %></li>
        <li><%= link_to 'Projects', projects_path %></li>
      </ul>
  </div>  
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        
        <div class="col-md-12">
        <div id = "headshot" class = "center-block">
        </div>
        </div>  
          <blockquote>
            <p>
              The Nouveau Nerd leverages a diverse background and non-traditional education to contribute a unique perspective to the industry.
            </p> <small>Simone Battiste-Alleyne</small>
          </blockquote>
        
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>
            My Tech Journey started a bit later in life, but the sum of my life experiences has made me a better developer. I was working in a Technical Recruiting Role and wasn't feeling as challenged as I could be. I started thinking, is this all I can look forward to? I wondered, if I put in the work could I make an enormous change in my life and redirect my career trajectory? <b> I bet on myself and went for it </b>. I've been developing for almost 2 years now and the amount of growth I've experienced in all aspects of my life has been amazing. I've been able to:
            <ul>
              <li> Live in a new state
              <li> Teach my first group of new Developers
              <li> Lead my first Meetup
              <li> Start working as a consultant 
              <li> Embrace Vim  
            </ul>  
          </p>
        </div>
        <div class="col-md-6">
          <p>
            My day to day involves Ruby on Rails, Nodejs, React, Postgres, MySQL, AWS Lambda, S3 and API Gateway.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
</div>
